/* Global setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-grey: #4d4d4d;
  --color-dark-grey: #424242;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 16px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
/* 공통적으로 적용되어야 할 것들 */
* {
  box-sizing: border-box;
}

/* 기본적으로 있는 margin 제거 */
body {
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;

  /* 텍스트에 커서 올렸을시 모양 변화를 막기 위해 */
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/* 버튼의 기본 속성 제거 */
button {
  /* 부모의 색상을 따라감(투명한 느낌) */
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
/* 웹에 전반적으로 쓰여진 패딩,텍스트에 대한 스타일링을 먼저 해 놓음 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  /* home 위에 올라와 있어야 하기에 */
  position: fixed;
  width: 100%;

  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  color: var(--color-black);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 0 8px;
  z-index: 1;
}

#navbar .navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

#navbar .navbar__logo a {
  color: var(--color-black);
}

#navbar .navbar__logo img {
  width: 80px;
  background-size: cover;
}

#navbar .navbar__menu {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

#navbar .navbar__menu .navbar__menu__item {
  /* border: 1px solid black; */
  padding: 8px 12px;
  margin: 0 4px;
  /* 아이템에 마우스 올렸을시 클릭 모양으로 바뀌게 함 */
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

/* #navbar .navbar__menu .navbar__menu__item.active {
  border: 1px solid var(--color-black);
} */

#navbar .navbar__menu .navbar__menu__item:hover {
  border-color: var(--color-black);
  background-color: var(--color-dark-pink);
}

/* Toggle button */
.navbar__toggle-btn {
  /* 기존 자리에서 빠져나오게 하기 위해 abosolute 사용 */
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  top: 42px;
  /* 평소에는 보여지면 안되닌까 display: none 사용 */
  display: none;
}

/* Home */
#home {
  /* 기존에는 기본 이미지 사이즈에 반복하면서 나타나는데 이를 막기 위해
    이미지를 center 정렬하고 cover하여 해당 block 사이즈에 맞춰서 
    이미지 크기가 늘어나게 하면 no-repeat 한다. */
  background: url("images/home-background.png") center/cover no-repeat;
  padding: 40px;

  /* navbar에 home avatar가 겹치기에 top에 패딩 추가 */
  padding-top: 120px;
  /* 모든 아이템들을 중앙 정렬하기 위한 방법 중 하나 */
  text-align: center;
}

#home .home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-dark-grey);
}

#home .home__title,
.home__description {
  color: var(--color-black);
}

#home .home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;

  /* 기본 속성이 제거된 버튼에 스타일링하기 */
  border: 2px solid var(--color-black);
  border-radius: var(--size-border-radius);
  color: var(--color-black);
}

#home .home__contact:hover {
  background-color: var(--color-yellow);
}

/* Section common */
/* 각 section에 공통적으로 들어가는 속성 정리 */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  /* 최대로 커질 수 있는 크기 고정 */
  max-width: 1200px;
  margin: auto;
}

/* About */
#about .about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

#about .about__majors .major__icon {
  width: 170px;
  height: 170px;
  /* 아이콘 사이즈도 결국은 font이기에 font-size 활용 */
  font-size: 70px;
  /* 아이콘들이 수직 중앙 정렬 하기 위해 height 만큼의
  line-height 값을 준다. */
  line-height: 170px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.major__icon i {
  /* 250~350ms 사람이 느끼기에 답답하지 않을 정도의 표준화된 좋은 수치이다. */
  transition: all var(--animation-duration) ease;
}
.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
  padding: 12px 8px;
}

.job__description {
  margin: 0 16px;
  /* 텍스트 왼쪽 정렬 */
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

.job img {
  width: 62px;
  height: 62px;
}

/* Skill */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

/* 아이템들이 크기가 자동적으로 늘어나게 만들기 위해서
아이템 별로 flex-basis를 지정해 줘야한다.*/
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

/* 프로그레스바 직접 만들기 */

/* 프로그레스바 총 % 바 */
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

/* 프로그레스바 진행도 % 바 */
.skill__value {
  /* width: 70%; */
  /* width를 css에서 정의하면 모든 프로그레스바 진행도가 똑같기에
  width는 html 테그에서 정의해줘야 한다.
  또 이런데이터들은 나중에 따로 추출해서 json에서 동적으로 관리하고 html코드로
  변환해서 자동적으로 생성할거기에 전부다 html에 적용되어야한다. */
  /* 그러기 위해서 html태그에 style을 inline화 한다.(태그 안에서 style 속성값 사용) */
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

/* 버튼이 active 상태이거나 hover 됬을때 배경색 변경 */
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.active .category__count, /* 카테고리 버튼이 active 상태인! 카테고리 카운트와 */
.category__btn:hover .category__count {
  /* 카테고리 버트에 마우스가 올라왔을 떄! 안에있는 카테고리 카운트만 */
  opacity: 1;
  top: 0;
  /* 숫자가 위에서 아래로 내려왔다가 다시 올라가는 듯한 효과를 줄 수 있음 */
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  /* span 테그는 컨텐츠를 꽉 감싸고 있기에
  동그라미를 만들기위해 inline-block으로 바꿈 */
  display: inline-block;
  line-height: 24px;

  position: absolute;
  top: -20px;
  right: 16px;
  /* 평소에는 안보이게 하기위해 opacity값을 0으로함 */
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.projcet__img {
  /* 이미지들이 본인이 담겨있는 box의 사이즈에 딱 맞게 넣기 위해서 */
  max-width: 100%;
  max-height: 100%;
}

/* 원래있던 박스를 벗어나서 위치를 정의한느 것 -> position: absolute */
.project__description {
  /* absolute는 자신의 부모들 중에서 static이 아닌 놈을 찾아서 그놈을
  기준으로 붙기 때문에 부모중에 별도로 position값을 다른 값(static 제외 static은 default 값임)
  이 없다면 계속 위로 올라가게됨 */
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;

  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 12px;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble p {
  color: light var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: var(--color-pink);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact_links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact_links i {
  transition: all var(--animation-duration) ease-in;
}
.contact_links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

/* Arrow up Button */
.arrowUpBtn {
  font-size: 60px;
  position: fixed;
  right: 40px;
  bottom: 30px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--color-blue);
  color: var(--color-white);
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;

  /* 불투명이긴 하지만 실제로는 있기때문에 클릭이 됨
  그렇기에 보이지 않을 떄에는 클리깅 안되게 해야함 */
  pointer-events: none;
}

.arrowUpBtn.arrowUpBtn--display {
  opacity: 1;
  pointer-events: auto;
}

/* Media query */
/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* 미디어 쿼리 안에서 root의 변수를 재 설정 가능 */
  :root {
    /* Font Size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  /* 화면이 작아졌을때 toglle을 보여지게함 */
  .navbar__toggle-btn {
    display: block;
    font-size: var(--font-medium);
    top: 28px;
    right: 16px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
    padding: 0;
  }

  #navbar.navbar--dark {
    padding: 0px;
  }

  #navbar .navbar__menu {
    flex-direction: column;
    text-align: center;
    /* 원래는 너비가 작았기에 너비를 100% 늘려줘야 가운데로옴 */
    width: 100%;
    /* 평소에는 보여지지않다가 toggle 버튼을 클릭시 보여줘야 하기에 */
    display: none;
  }

  #navbar .navbar__menu.open {
    display: block;
  }

  /* 화면이 작을 경우엔 section의 padding이 너무 크다
  그래서 줄여줌 (모바일의 경우 16px정도가 보통임) */
  .section {
    padding: 16px;
    padding-top: 60px;
  }

  #about .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    /* 각 프로젝트의 요소들의 화면상 공백을 꽉 채우기 위해 grow 속성 사용 */
    flex-grow: 1;
  }

  .testimonials {
    margin: 16px;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 0;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(n) {
    margin: 0px;
    margin-bottom: 8px;
  }

  /* 아바타가 먼저오고 말풍선이 나중에 오게 하기 위해
  우선순위를 변경해주면 된다.(order의 default값은 항상 0 이기에)
  speach-bubble의 order값을 1로 해주면 항상 avatar보다 뒤에 나오게됨 
  (oreder값이 클수록 나주엥 나옴)*/
  .testimonial__speech-bubble {
    order: 1;
  }

  /* 화면 작을 땐 up버튼 크기 조절 */
  .arrowUpBtn {
    width: 45px;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
    right: 16px;
    bottom: 16px;
  }
}
